<h1>Blog posts</h1>
<table>

    <?php if(count($employees)>0) : ?>

        <tr>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>

        <?php foreach ($employees as $employee): ?>

            <tr>
                <td><?php echo $employee['Employee']['FirstName']; ?></td>
                <td><?php echo $employee['Employee']['LastName']; ?></td>
            </tr>

        <?php endforeach; ?>

        <?php unset($post); ?>

    <?php endif; ?>

    <?php echo $this->Html->link('Register',array('action'=>'register')); ?><br/>
    <?php echo $this->Html->link('Login',array('action'=>'login')); ?>
</table>